Source: ros-hydro-mdl-people-tracker
Section: misc
Priority: extra
Maintainer: Christian Dondrup <cdondrup@lincoln.ac.uk>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libqt4-dev, ros-hydro-catkin, ros-hydro-cv-bridge, ros-hydro-geometry-msgs, ros-hydro-ground-plane-estimation, ros-hydro-image-transport, ros-hydro-message-filters, ros-hydro-message-generation, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-std-msgs, ros-hydro-tf, ros-hydro-upper-body-detector, ros-hydro-visual-odometry, ros-hydro-visualization-msgs
Homepage: https://github.com/strands-project/strands_perception_people
Standards-Version: 3.9.2

Package: ros-hydro-mdl-people-tracker
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libqt4-dev, ros-hydro-cv-bridge, ros-hydro-geometry-msgs, ros-hydro-ground-plane-estimation, ros-hydro-image-transport, ros-hydro-message-filters, ros-hydro-message-runtime, ros-hydro-roscpp, ros-hydro-sensor-msgs, ros-hydro-std-msgs, ros-hydro-tf, ros-hydro-upper-body-detector, ros-hydro-visual-odometry, ros-hydro-visualization-msgs
Description: The mdl_people_tracker package
