Source: ros-kinetic-human-trajectory
Section: misc
Priority: extra
Maintainer: Ferdian Jovan <fxj345@cs.bham.ac.uk>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-bayes-people-tracker, ros-kinetic-catkin, ros-kinetic-geometry-msgs, ros-kinetic-message-filters, ros-kinetic-message-generation, ros-kinetic-mongodb-store, ros-kinetic-rospy, ros-kinetic-std-msgs, ros-kinetic-strands-navigation-msgs, ros-kinetic-tf, ros-kinetic-topological-logging-manager
Homepage: https://github.com/strands-project/strands_perception_people
Standards-Version: 3.9.2

Package: ros-kinetic-human-trajectory
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-pymongo, ros-kinetic-bayes-people-tracker, ros-kinetic-geometry-msgs, ros-kinetic-message-filters, ros-kinetic-message-runtime, ros-kinetic-mongodb-store, ros-kinetic-rospy, ros-kinetic-std-msgs, ros-kinetic-strands-navigation-msgs, ros-kinetic-tf, ros-kinetic-topological-logging-manager
Description: A package that stitch human poses together to create a trajectory for the human
